.title__btn {
  cursor: pointer;
  background-color: #2196f3;
  color: var(--accent-cl);
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title__btn:hover,
.title__btn:focus {
  color: var(--accent-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 4px;
}
.second__button-icon {
  width: 70px;
  height: 70px;
}
.client__button {
  flex-basis: calc((100% - 6 * 30px) / 6);
  text-align: center;
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background-color: var(--accent-cl);
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__button:hover,
.client__button:focus {
  border-color: var(--alt-cl);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__button:hover .client__icon,
.client__button:focus .client__icon {
  fill: var(--alt-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon {
  fill: #afb1b8;
  border-color: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__menu-btn {
  cursor: pointer;
  font-family: var(--main-font);
  color: var(--title-cl);
  background-color: var(--team-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  height: 38px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button-all {
  padding-left: 22px;
  padding-right: 22px;
}
.about__button-web {
  padding-left: 22px;
  padding-right: 22px;
}
.about__button-app {
  padding-left: 22px;
  padding-right: 22px;
}
.about__button-design {
  padding-left: 22px;
  padding-right: 22px;
}
.about__button-marketing {
  padding-left: 22px;
  padding-right: 22px;
}
.about__menu-btn:hover,
.about__menu-btn:focus {
  color: var(--accent-cl);
  background-color: var(--alt-cl);
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}
.btnportfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-team__portfolio-item:hover .overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
