.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
.menu-address {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-direction: inherit;
  }
}
.menu__item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}
.menu__item-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--alt-cl);
  margin-top: 45px;
  border-radius: 3px;
}
