.social__icons {
  display: inline-flex;
  padding-bottom: 30px;
}
.social__icons-item:not(:last-child) {
  margin-left: 10px;
}
.social__icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icons-link:hover,
.social__icons-link:focus {
  background-color: var(--alt-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icons-link:hover .social__icons-svg {
  fill: var(--accent-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icons-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
