:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #ffffff;
  --alt-cl: #2196f3;

  --dark-bg: #2f303a;
  --second-bg: #e5e5e5;
  --team-bg: #f5f4fa;

  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
}
