.page-title {
  color: var(--accent-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding-bottom: 30px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}
